body {
	background-color: #FFDC92;
	font-family: 'Noto Sans', sans-serif;
	font-size: 1em;
}

h1 {
	text-align: center;
	color: crimson;
	letter-spacing: 2px;
	margin-top: 9%;
}

img {
	width: 7%;
	position: absolute;
	top: 2%;
	left: 46.5%;

	
	