body {
	background-color: #FFDC92;
	font-family: 'Noto Sans', sans-serif;
	font-size: 1em;
}

.container {
	text-align: center;
}

.submit-row {
	text-align: center;
}

h1 {
	text-align: center;
	color: crimson;
	letter-spacing: 2px;
	margin-top: 9%;
}

img {
	width: 7%;
	position: absolute;
	top: 2%;
	left: 46.5%;
}

form {
	padding: 20px;
}

input#name {
	width: 25%;
	padding: 2%;
}



button.addBurgerButton {
	position: absolute;
	bottom: 60%;
	left: 48%;

}





	
	